:root {
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);

  --active-input-border: linear-gradient(
    0deg in hsl shorter hue hsl(249, 99%, 64%),
    hsl(278, 94%, 30%)
  );
  --red-input-errors: hsl(0, 100%, 66%);
}

.space-grotesk-500 {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
body {
  height: 100vh;
  height: 100svh;
  display: grid;
}

main {
  height: 100%;
  /* min-width: 100%; */
  display: grid;
  place-content: center;

  background-color: var(--white);
  grid-template-rows: 1fr 2fr;
  /* grid-template-columns: 1fr; */
}

#form-con {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Mobile */
  /* margin-block-start: 1.7rem; */
  /* margin-inline-start: 1.5rem; */
  /* margin-inline-end: 1.5rem; */

  margin-block-start: clamp(0rem, 2.2986rem + -2.554vw, 1.7rem);
  margin-inline-start: clamp(1.5rem, -5.6479rem + 30.4977vw, 21.8rem);
  margin-inline-end: clamp(1.5rem, -2.9718rem + 19.0798vw, 14.2rem);
  /* Desktop */
  /* margin-inline-start: 21.8rem; */
  /* margin-inline-end: 14.2rem; */
}
#card-form {
  display: grid;
  grid-template-rows: repeat(4, minmax(0, 1fr));
  grid-template-columns: repeat(4, minmax(0, 1fr));

  gap: clamp(1.2rem, 1.0944rem + 0.4507vw, 1.5rem);
  /* Mobile */
  /* gap: 1.2rem; */
  /* Desktop */
  /* gap: 1.5rem; */
}

label {
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  gap: 0.2rem;
  color: var(--very-dark-violet);
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
label > input {
  font-size: 1.12rem;
  text-indent: 0.8rem;
  padding-block: 0.4rem;
  border-radius: 8px;
  border: 1px solid var(--light-grayish-violet);
}

#card-display {
  position: relative;
  background-color: var(--very-dark-violet);

  background: center / cover no-repeat url("../images/bg-main-mobile.png");

  /* grid-row: 1;
  grid-column: 1; */
}
#card-name-lab {
  grid-row: 1;
  grid-column: 1 / -1;
}

#card-logo {
  margin-block-end: clamp(2.1rem, 1.5718rem + 2.2535vw, 3.6rem);
  width: clamp(3.5rem, 2.8838rem + 2.6291vw, 5.25rem);
  /* Mobile */
  /* margin-block-end: 2.1rem; */
  /* width: 3.5rem; */
  /* Desktop */
  /* width: 5.25rem; */
  /* height: 2.9375rem; */
  /* margin-block-end: 3.6rem; */
}

#card-num-lab {
  grid-row: 2;
  grid-column: 1 / -1;
}
#card-date-lab {
  grid-row: 3;
  grid-column: 1 / 3;
  grid-template-rows: minmax(0, auto-fit) minmax(0, 1fr);
  /* grid-template-rows: repeat(2, minmax(0, 1fr)); */
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0.4rem;
  margin-inline-end: 0.5rem;
}
#card-date-lab > input {
  padding-block: 0.5rem;
}
#card-date-lab > p {
  grid-row: 1;
  grid-column: 1 / -1;
}
#exp-date-m {
  grid-row: 2;
  grid-column: 1;
}

#exp-date-y {
  grid-row: 2;
  grid-column: 2;
}

#cvc-lab {
  grid-row: 3;
  grid-column: 3 / -1;
  margin-inline-start: -0.8rem;
  /* grid-template-rows: repeat(2, minmax(0, 1fr)); */
}

#front-card {
  position: absolute;
  color: var(--white);
  z-index: 1;

  left: clamp(0.8rem, -2.5099rem + 14.1221vw, 10.2rem);
  top: clamp(7.9rem, 6.562rem + 5.7089vw, 11.7rem);
  padding-inline: clamp(1.4rem, 1.1887rem + 0.9014vw, 2rem);
  padding-block: clamp(1.1rem, 0.8535rem + 1.0516vw, 1.8rem);
  width: clamp(18.1rem, 14.6141rem + 14.8732vw, 28rem);
  height: clamp(9.8rem, 7.793rem + 8.5634vw, 15.5rem);
  /* Mobile */
  /* left: 0.8rem; */
  /* top: 7.9rem; */
  /* padding-inline: 1.4rem; */
  /* padding-block: 1.1rem; */
  /* width: 18.1rem; */
  /* height: 9.8rem; */
  /* Desktop */
  /* left: 10.2rem; */
  /* top: 11.7rem; */
  /* padding-inline: 2rem; */
  /* padding-block: 1.8rem; */
  /* width: 28rem; */
  /* height: 15.5rem; */
  background: center / contain no-repeat url("../images/bg-card-front.png");
}

#front-card-details {
  display: flex;
  justify-content: space-between;

  font-size: clamp(0.6rem, 0.4592rem + 0.6009vw, 1rem);
  letter-spacing: 0.06rem;

  /* Mobike */
  /* font-size: 0.6rem; */
  /* letter-spacing: 0.06rem; */
  /* Desktop */
  /* font-size: 1rem; */
  /* letter-spacing: 0.06rem; */
}

#front-card-num {
  font-size: clamp(1.3rem, 1.0359rem + 1.1268vw, 2.05rem);
  word-spacing: 0.2rem;
  margin-block-end: clamp(0.7rem, 0.5944rem + 0.4507vw, 1rem);
  /* Mobile */
  /* font-size: 1.3rem; */
  /* word-spacing: 0.2rem; */
  /* margin-block-end: 0.7rem; */
  /* Desktop */
  /* font-size: 2.05rem; */
  /* word-spacing: 0.2rem; */
  /* margin-block-end: 1rem; */
}
#back-card {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: center / contain no-repeat url("../images/bg-card-back.png");
  z-index: 0;

  left: clamp(4.5rem, 0.3979rem + 17.5023vw, 16.15rem);
  top: clamp(1.9rem, -7.7479rem + 41.1643vw, 29.3rem);
  width: clamp(17.9rem, 14.3085rem + 15.3239vw, 28.1rem);
  height: clamp(10.1rem, 8.1986rem + 8.1127vw, 15.5rem);
  /* Mobile */
  /* left: 4.5rem; */
  /* top: 1.9rem; */
  /* width: 17.9rem; */
  /* height: 10.1rem; */
  /* Desktop */
  /* left: 16.15rem; */
  /* top: 29.3rem; */
  /* width: 28.1rem; */
  /* height: 15.5rem; */
}
#back-card-cvc {
  color: var(--white);
  margin: auto;
  /* Mobile */
  font-size: 0.6rem;
  height: 1rem;
  width: 13.5rem;
  text-align: right;
  letter-spacing: 0.1rem;
  vertical-align: middle;
  /* Desktop */
  /* font-size: 0.95rem; */
  /* height: 1.7rem; */
  /* width: 20.5rem; */
  /* text-align: right; */
  /* letter-spacing: 0.1rem; */
}
#submit-btn {
  grid-row: 4;
  grid-column: 1 / -1;
  background-color: var(--very-dark-violet);
  color: var(--white);
  border-radius: 8px;
  margin-block-start: 1rem;
  text-align: center;
  font-size: 1.15rem;
}

@media (min-width: 35rem) {
  main {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
  }
  #card-display {
    background: center / cover no-repeat url("../images/bg-main-desktop.png");
    grid-row: 1;
    grid-column: 1;
  }

  #form-con {
    grid-row: 1;
    grid-column: 2;
  }
}
